# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Vicky using self-hosted runner

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read


env:
  KATALON_TEST_SUITE: "Test Suites/New Test Suite"
  KATALON_PROFILE: "default"

jobs:
  build:
    #env: 
    #  KATALON_TEST_SUITE: "Test Suites/New Test Suite"
    #  KATALON_PROFILE: "default"
    
    runs-on: self-hosted
    #https://katalon.atlassian.net/wiki/spaces/CST/pages/2470969848/How+to+run+the+Self-hosted+runner+with+Github+Action

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    #run with an existing KRE package
    #- name : Run Test by command with KRE  
    #  run : |
    #    cd "/Users/loan.tran/Documents/Katalon/Tools/8.6.0/Katalon_Studio_Engine_MacOS-8.6.0/Katalon Studio Engine.app/Contents/MacOS"
    #    #./katalonc -noSplash -runMode=console -projectPath="/Users/loan.tran/Downloads/test/vicky test.prj" -retry=0 -testSuitePath="${{env.KATALON_TEST_SUITE}}" -browserType="Chrome" -executionProfile=${{env.KATALON_PROFILE}} -apiKey=${{ secrets.API_KEY }} --config -webui.autoUpdateDrivers=true
    #    ./katalonc -noSplash -runMode=console -projectPath='${{ github.workspace }}' -retry=0 -testSuitePath="${{env.KATALON_TEST_SUITE}}" -browserType="Chrome" -executionProfile=${{env.KATALON_PROFILE}} -apiKey=${{ secrets.API_KEY }} --config -webui.autoUpdateDrivers=true
    
    #run with a newly downloaded KRE package
    - name: 'Katalon Studio Github Action'
      uses: katalon-studio/katalon-studio-github-action@v2
      with:
          version: '8.6.5'
          projectPath: '${{ github.workspace }}'
          args: '-noSplash -testSuitePath="Test Suites/New Test Suite" -browserType="Chrome" -executionProfile="default" -apiKey=${{ secrets.API_KEY }} --config -webui.autoUpdateDrivers=true'

