
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Vicky test github actions

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: write-all

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - name: Configure Xvfb on runner VM (required for KRE execution on Linux)
       #if: runner.os == 'Linux'
      run: |
        sudo apt-get install -y xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0
        sudo /usr/bin/Xvfb :0 -screen 0 1280x1024x24 &      
        #run: xvfb-run -a -n 0 -s "-screen 0 1024x768x24" &
        
    - run: sudo apt-get update
    - run: sudo apt -y install openjdk-8-jdk
        
    - name: Checkout
      uses: actions/checkout@v2
    - name: Katalon Studio Github Action
      uses: katalon-studio/katalon-studio-github-action@v2
      with:
          version: '8.6.0'
          projectPath: '${{ github.workspace }}'
          args: '-noSplash -testSuitePath="Test Suites/New Test Suite" -browserType="Chrome" -executionProfile="default" -apiKey=${{ secrets.API_KEY }} --config -webui.autoUpdateDrivers=true'
