
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Vicky test github actions - UBUNTU

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

env:
  KATALON_TEST_SUITE: "Test Suites/New Test Suite"
  
jobs:    
  build:
    runs-on: ubuntu-latest
    steps:       
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Run headless test
      uses: coactions/setup-xvfb@v1
      with:
          run: npm test
          working-directory: ./ #optional
          options: #optional

    - name: Katalon Studio Github Action
      uses: katalon-studio/katalon-studio-github-action@v2
      with:
          version: '8.6.0'
          projectPath: '${{ github.workspace }}'
          args: |
            -noSplash \ 
            -testSuitePath=$KATALON_TEST_SUITE \
            -browserType="Chrome" \
            -executionProfile="default" \
            -apiKey=${{ secrets.API_KEY }} \
            --config -webui.autoUpdateDrivers=true
