
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Vicky test github actions - UBUNTU

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

env:
  KATALON_TEST_SUITE: "Test Suites/New Test Suite"
  
jobs:    
  build:
    runs-on: ubuntu-latest
    steps:       
    - name: Checkout
      uses: actions/checkout@v2
    - name: install docker
      run: docker pull katalonstudio/katalon
    - name: run Katalon script using Katalon Docker Image
      run: docker run -t --rm -v "$(pwd)":/tmp/project katalonstudio/katalon katalonc.sh -projectPath=/tmp/project -retry=0 -testSuitePath=${{KATALON_TEST_SUITE}} -browserType="Chrome" -executionProfile="default" -apiKey=${{ secrets.API_KEY }} --config  -webui.autoUpdateDrivers=true
