
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Vicky test github actions - UBUNTU

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

env:
  KATALON_TEST_SUITE: "Test Suites/New Test Suite"
  KATALON_VERSION: "8.6.0"
  
jobs:    
  build:
    runs-on: ubuntu-latest
    steps:       
    - name: Checkout
      uses: actions/checkout@v2
  #solution1: using docker
  #  - name: install docker
  #    run: docker pull katalonstudio/katalon
  #  - name: run Katalon script using Katalon Docker Image
  #    run: docker run -t --rm -v "$(pwd)":/tmp/project katalonstudio/katalon katalonc.sh -projectPath=/tmp/project -retry=0 -testSuitePath="$KATALON_TEST_SUITE" -browserType="Chrome" -executionProfile="default" -apiKey=${{ secrets.API_KEY }} --config  -webui.autoUpdateDrivers=true

  #solution 2: using KRE directy
    - name: download KRE package
      run: curl "https://download.katalon.com/8.6.0/Katalon_Studio_Engine_Linux_64-8.6.0.tar.gz" -o "katalon_runtime_engine.tar.gz"
    - name: unzip KRE package
      run: tar -xvf katalon_runtime_engine.tar.gz
    - name: run Katalon script using KRE
      uses: coactions/setup-xvfb@v1
      with:
          run: Katalon_Studio_Engine_Linux_64-"${KATALON_VERSION}"\katalonc -noSplash -runMode=console -projectPath="test/vicky test.prj" -retry=0 -testSuitePath="Test Suites/New Test Suite" -browserType="Chrome" -apiKey=${{ secrets.API_KEY }}
          working-directory: ./ #optional
          options: #optional
