
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Vicky test github actions

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

       
    - name: Checkout
      uses: actions/checkout@v2
    - run: sudo apt-get install xvfb

    - name: Katalon Studio Github Action
      uses: katalon-studio/katalon-studio-github-action@v2
      with:
          version: '8.6.0'
          projectPath: '${{ github.workspace }}'
          args: '-noSplash -testSuitePath="Test Suites/New Test Suite" -browserType="Chrome" -executionProfile="default" -apiKey=${{ secrets.API_KEY }} --config -webui.autoUpdateDrivers=true'
