
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Vicky test github actions

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Katalon Studio Github Action
      uses: katalon-studio/katalon-studio-github-action@v2
      with:
          ks_api_key: ${{ secrets.API_KEY }} 
          projectPath: ${{ github.workspace }} 
          ksVersionNumber: '8.6.0'
          ks_command: 'katalon-execute.sh -noSplash -testSuitePath="Test Suites/New Test Suite" -browserType="Chrome" -executionProfile="default" --config -webui.autoUpdateDrivers=true'
